<div style="padding-top:80px">

<ul id="container">
  {{!-- {{#each card}} --}}
  <li id="card" style="display: flex; ">
    <span>
      <img src="https://media.magic.wizards.com/image_legacy_migration/images/magic/tcg/products/dgm/tiwoirwiixix/cgcqubotzx_RU.jpg" alt="cardImg">
    </span>
    <span>
      <h2>{{card.name}}name</h2>
      <h4>{{card.price}}$111</h4>
      <h4>{{card.rare}}Legendary</h4>
      <h4>{{card.city}}Moscow</h4>
      <h4>{{card.condition}}3/5</h4>
      <h4>{{card.sellerID}}John</h4>
    </span>
    <button id="deleteCardBtn" value="delete" data-card="{{card._id}}" style="height:70px; width:70px; border-radius:50%; border:5px solid red">X</button>
  </li>
  {{!-- {{/each}} --}}
</ul>
<button id="buyBtn">Buy</button>
<button id="deleteAllBtn" value="deleteAll">Delete All</button>
</div>



<script src="/js/email.js"></script>
